/*-----------
DEBUT 1315px
------------*/
@media screen and (max-width: 1315px){
    .div_activites{
    display: flex;
    justify-content: space-around;
    width: auto;
    }

    div.section_gauche, div.section_droite{
    height: 28rem;
    width: 45%;   
    display: flex;
    flex-direction: column;
    }

    div.section_gaucheun,div.section_droiteun {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    }

    article.commun_trois, article.commun_quatre, article.commun_cinq{
    height: 14rem;
    width: 100%;
    }

    article.commun_quatre, article.commun_cinq{
    margin-top: 2rem;
    }

    figure.commun_trois img, figure.commun_quatre img, figure.commun_cinq img{
    height: 11.25rem;
    width: 100%;
    }

    h3.commun_trois{
    padding-bottom: 1rem;
    }

    footer{
    margin-top: 22rem;
    }

    .menu_apropos{
    margin-left: -1.60rem;
    }
}
/*---------
FIN 1315px
----------*/

/*-----------
DEBUT 1215px
------------*/

@media screen and (max-width: 1215px){
    body main div{
    display: flex;
    flex-direction: column-reverse;
    }

    main{
    width: auto;
    margin: auto;
    }

    section.sec_hebergements{
    width: 100%;
    height: 50rem;
    background-color: white;
    margin-top: 0rem;
    }

    section.sec_hebergements div{
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50rem;
    }

    article.commun_un{
    height: 14rem;
    width: 45%;
    margin-left: 1rem;
    margin-right: 1rem;
    }

    body main div aside div.aside_deux article.commun_deux{
    height: auto;
    width: auto;
    margin-left: 1rem;
    }

    body main div aside div.aside_deux figure.commun_deux img{
    width: 100%;
    height: 12.75rem;
    border-bottom-left-radius: initial;
    border-top-right-radius: 1rem;
    }

    body main div aside{
    width: auto;
    height: auto;
    }

    body main div aside div.aside_un{
    flex-direction: row;
    }

    body main div aside div.aside_deux{
        display: flex;
        flex-direction: row;
    }

    article.commun_deux a h3.commun_deux{
        padding-left: 1rem;
        position: initial;
        font-size: 1rem;
    }

    article.commun_deux a p.commun_deux{
        padding-left: 1rem;
        position: initial;
        font-size: 1rem;
    }

    article.commun_deux a ul.commun_deux{
        padding-left: 1rem;
        position: initial;
        font-size: 1rem;
    }

    .sec_activites{
        padding-top: 12rem;
    }

    .div_activites{
        flex-direction: row;
        }
}

/*-----------
FIN 1215px
------------*/


/*----------
DEBUT 640px
-----------*/

@media screen and (max-width: 640px){
    body header nav ul{
        flex-wrap: wrap;
        place-content: flex-end;
    }

    p.p_trois{ 
        padding-left: 1rem;
    }

    body main div aside div.aside_un{
        padding-top: 2rem;
    }

    body main div aside div.aside_deux{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }

    body main div aside div.aside_deux article.commun_deux{
        height: 10.75rem;
        width: 28rem;
        margin-left: 1rem;
    }

    body main div aside div.aside_deux figure.commun_deux img{
        width: 44%;
        height: 10.75rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: initial;
    }   

    article.commun_deux a h3.commun_deux{
        padding-left: 12rem;
        position: relative;
        bottom: 10.5rem;
        left: 2rem;
    }

    article.commun_deux a p.commun_deux{
        padding-left: 14rem;
        position: relative;
        bottom: 9rem;
    }

    article.commun_deux a ul.commun_deux{
        padding-left: 14rem;
        position: relative;
        bottom: 4.75rem;
    }

    section.sec_hebergements{
        margin-top: 0rem;
        }

    #menu_hebergments{
        padding-top: 2rem;
        padding-left: 2rem;
        position: relative;
        top:-21rem;
    }

    section.sec_hebergements div{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: initial;
    }

    article.commun_un{
        height: 14rem;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .sec_activites{
        padding-top: 62rem;
    }

    div.section_gauche, div.section_droite{
        height: 46rem;
        width: 100%;   
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        position: relative;
        left: 1rem;
    }

    footer{
        margin-top: 3rem;
        height: 30rem;
        }
    
    footer div.footer_un{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 2rem;
    }
}

/*----------
DEBUT 560px
-----------*/

@media only screen and (max-width: 560px){

    body{
        min-width: 320px;
    }
    
    body header{
        padding-left: 0rem;
    }
    
    
    body header nav{
        width: 100%;
    }

    body header nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    header nav ul a{
        order: 0;
        padding-left: 1rem;
    }
    
    header nav ul li.menu_hebergements{
        order: 2;
        width: 50%;
    }

    header nav ul li.menu_activites{
        order: 3;
        width: 50%;
    }

    header nav ul li.menu_sinscrire{
        order: 1;
        width: 50%;    
    }
    
    header nav ul li.menu_hebergements a{
        border: 0.125rem #0065fc solid;
        border-left: none;
        border-right: none;
        border-top: none;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 16px;
    } 
    
    header nav ul li.menu_activites a{
        color: black;
        border: 0.125rem #f2f2f2 solid;
        border-left: none;
        border-right: none;
        border-top: none;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    header nav ul li.menu_sinscrire a{
        float: right;
        font-size: 16px;
    }

    header nav ul li.menu_hebergements a:hover, header nav ul li.menu_activites a:hover{
        color: #0065FC;
        border: 0.125rem #0065fc solid;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    header nav ul li.menu_hebergements a:active, header nav ul li.menu_activites a:active{
        color: #0065FC;
        border: 0.125rem #106ffc solid;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    p.p_trois{
        padding-left: 2rem;
        font-size: 14px;
    }

    article.commun_un{
        width: 33rem;
        margin-left: 3rem;
    }

    section.section_deux form p{
        display: flex;
    }

    section.section_deux form p i{
        flex-grow: 0;
    }

    section.section_deux form p input{
        flex-grow: 3;
    }

    section.section_deux form p button{
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        padding: 0rem;
        background-color: none;    
        position: relative;
        left: -1rem;
        flex-grow: 0;
    }

    section.section_deux form p button span{
        display: none ;
    }   

    section.section_deux form p button i{
        display: block;
        color: white;
        background-color: #0065fc;
        border-radius: 1rem; 
        flex-grow: 0;         
    }

    aside div.aside_un h2{
        padding-left: 4rem;
    }

    body main div aside div.aside_deux article.commun_deux{
        width: 33rem;
        margin-left: 0rem;
    }

    article.commun_deux a h3.commun_deux{
        padding-left: 13rem;
    }

    article.commun_deux a p.commun_deux{
        padding-left: 15rem;
    }

    article.commun_deux a ul.commun_deux{
        padding-left: 15rem;
    }

    article.commun_un{
        width: 33rem;
        margin-left: 1rem;
    }

    .sec_activites{
        padding-top: 59rem;
    }

    .sec_activites h2{
        padding-left: 2rem;
    } 

    article.commun_trois, article.commun_quatre, article.commun_cinq{
        width: 33rem;
        margin-left: 1rem;
    }

    body, footer{
        width: 600px;
    }

}
/*--------
FIN 560px
---------*/

/*----------
DEBUT 425px
-----------*/

@media only screen and (max-width: 425px){

    body{
        width: 690px;
    }

    header nav ul li.menu_hebergements a{
        font-size: 1.50rem;
    } 
    
    header nav ul li.menu_activites a{
        font-size: 1.50rem;
    }

    header nav ul li.menu_sinscrire a{
        font-size: 1.50rem;
    }

    section.section_un h1{
        font-size: 2rem
    }

    section.section_un p{
        font-size: 1.50rem;
    }

    section.section_deux form p i{
        font-size: 1.75rem;
    }

    section.section_deux form p input{
        font-size: 1.75rem;
    }

    section.section_deux form p button i{
        font-size: 1.75rem;
    }

    section.section_trois div.div_un{
        font-size: 1.50rem;
    }

    p.p_trois{
        font-size: 1.50rem
    }
    
    p.p_trois i{
        height: 3rem;
        width: 3rem;
    }

    aside div.aside_un h2{
        font-size: 2rem;
    }

    .iconechartline{
        font-size: 1.50rem;
    }

    body main div aside div.aside_deux article.commun_deux{
        height: 16rem;
        width: 38rem;
    }

    body main div aside div.aside_deux figure.commun_deux img{
        height: 15.75rem;
    }
    
    article.commun_deux a h3.commun_deux{
        padding-left: 16rem;
        font-size: 2rem;
        left: 2rem;
        bottom: 15rem;
    }

    article.commun_deux a p.commun_deux{
        padding-left: 18rem;
        font-size: 1.75rem;
        bottom: 14rem;
    }

    article.commun_deux a ul.commun_deux{
        padding-left: 18rem;
        font-size: 1.50rem;
        bottom: 10rem;
    }

    #menu_hebergements{
        font-size: 2rem;
    }

    article.commun_un{
        height: 25rem;
        width: 38rem;
    }

    h3.commun_un{
        font-size: 2rem;
    }
    
    p.commun_un{
        font-size: 1.75rem;
    }

    ul.commun_un{
        font-size: 1.50rem;
    }

    figure.commun_un img{
        height: 16rem;
    }

    p.afficher a{
        font-size: 2rem;
        padding-left: 2rem;
    }

    .sec_activites{
        padding-top: 130rem;
    }

    .sec_activites h2{
        font-size: 2rem;
    }

    article.commun_trois, article.commun_quatre, article.commun_cinq{
        height: 25rem;
        width: 38rem;
        margin-left: 0rem;

    }

    figure.commun_trois img, figure.commun_quatre img, figure.commun_cinq img{
        height: 20rem;
    }

    article.commun_trois a h3.commun_trois{
        font-size: 2rem;
    }

    article.commun_quatre h3.commun_quatre{
        font-size: 2rem;
    }

    article.commun_cinq h3.commun_cinq{
        font-size: 2rem;
    }

    div.section_gauche, div.section_droite{
        margin-top: 35rem;
        bottom: 34rem;
        padding-left: 1.50rem;
    }

    .apropos, .nos, .assistance{
        font-size: 2rem;
    }

    .divapropos_deux, .divapropos_trois, .divnos_deux, .divassistance_deux{
        font-size: 1.50rem;
    }

    .footer_deux, .footer_trois, .footer_quatre{
        font-size: 1.50rem;
    }

    footer{
        height: 560px;
    }

}