*{
    margin: 0; 
    padding: 0; 
    font-family: 'raleway', sans-serif;
}

/*------------------
DEBUT PARTIE HEADER 
-------------------*/

header{
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: auto;
    padding-left: 2rem;
}

body  header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

li.menu_hebergements a{
    color: #106ffc;
    font-size: 1.13rem;
}

li.menu_activites a{
    color: black;
    font-size: 1.13rem;
}

li.menu_sinscrire a{
    color: #0065FC ;
    font-size: 1.13rem;
    font-weight: bold;
}

li.menu_hebergements a:active{
    color: #106FFC;
}

li.menu_activites a:active{
    color: black;
}

li.menu_sinscrire a:active{
    color: #0065FC;
    font-weight: bold;
}

li.menu_hebergements a:visited{
    color: #106ffc;
}

li.menu_activites a:visited{
    color: black;
}

li.menu_sinscrire a:visited{
    color: #0065FC;
    font-weight: bold;
}

li a{
    text-decoration: none;
    padding: 1.60rem;
    flex-wrap: wrap;
}

/*----------------
FIN PARTIE HEADER 
-----------------*/

/*--------------------
DEBUT PARTIE TITRE H1 
---------------------*/
section.section_un h1{
    font-size: 1.38rem;
    max-width: 1340px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

section.section_un p{
    max-width: 1340px;
    margin: auto;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

/*------------------
FIN PARTIE TITRE H1 
-------------------*/

/*-------------------------------
DEBUT PARTIE CHAMP DE RECHERCHER
--------------------------------*/

section.section_deux{
    max-width: 1340px;
    margin: auto;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

section.section_deux p{
    display: flex;
}

section.section_deux p i{
    font-size: 1.13rem;
    background-color: #F2F2F2;
    padding: 1.25rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}


section.section_deux p input{
    font-size: 1.3rem;
    font-weight: bold;
    border-right: none;
    border-left: #F2F2F2 1px solid;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 1.25rem 1.25rem;
}

section.section_deux p button{
    font-size: 1.13rem;
    font-weight: bold;
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 0 1rem 0.63rem 0;
    cursor: pointer;
    padding: 1.25rem 1.25rem;
}

/*-----------------------------
FIN PARTIE CHAMP DE RECHERCHER
------------------------------*/

/*-------------------
DEBUT PARTIE FILTRES
--------------------*/

section.section_trois div.div_un{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1340px;
    padding-left: 3rem;
}

section.section_trois div.div_un h3{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

section.section_trois div.div_un div{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 0.125rem solid #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding-right: 1rem;
}

section.section_trois div.div_un div:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    border-color: #DEEBFF;
    transition-delay: 0.1s;
}

section.section_trois div.div_un div i{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}

/*-----------------
FIN PARTIE FILTRES
------------------*/

/*-----------------------
DEBUT PARTIE INFORMATION
------------------------*/

p.p_trois{ 
    max-width: 1340px;
    margin: auto;
    display: flex;
    align-items: baseline;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    
}

p.p_trois i{
    font-size: 0.700rem;
    color: #0065FC;
    border: 0.125rem #F2F2F2 solid ;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------
FIN PARTIE INFORMATION
----------------------*/

/*--------------------------------------------------
DEBUT PARTIE MAIN : "BLOC HEBERGEMENTS A MARSEILLE"
---------------------------------------------------*/

main{
    max-width: 1340px;
    margin: auto;
}

section.sec_hebergements{
    width: 65%;
    height: 43rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    margin-top: 1rem;

}

#menu_hebergements{
    margin-left: 2rem;
    padding-top: 2rem;
}

article.commun_un{
    height: 13rem;
    width: 15rem;
    background-color: white;
    border-radius: 1.25rem;
    border: 0.19rem white solid;
    box-shadow: 0 0 1rem #0000002E;
    margin-bottom: 2rem;
}

figure.commun_un img{
    height: 8rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

article.commun_un a, article.commun_deux a{
    color: black;
    text-decoration: none;
    font-size: 0.90rem;
}

h3.commun_un, p.commun_un{
    padding-top: 0.25rem;
    padding-left: 1rem;
}

ul.commun_un{
    padding-top: 1rem;
    padding-left: 1rem;
}

ul.commun_un, ul.commun_deux{
    list-style-type: none;
    color: #0065FC;
    display: flex;
    justify-content: flex-start;
    font-size: 0.75rem;
}

section.sec_hebergements div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

p.afficher a{
        font-weight: bold;
        color: black;
        font-size: 1.25rem;
        text-decoration: none;
        padding-left: 2rem;
    }

/*------------------------------------------------
FIN PARTIE MAIN : "BLOC HEBERGEMENTS A MARSEILLE"
-------------------------------------------------*/

body main div{
    display: flex;
    justify-content: space-between;
}

/*---------------------------------------------
DEBUT PARTIE MAIN : "BLOC LES PLUS POPULAIRES"
----------------------------------------------*/

body main div aside{
    width: 33%;
    height: 43rem;
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    margin-top: 1rem;
}

body main div aside div.aside_un{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

aside div.aside_un h2{
    padding-left: 2rem;
}

.iconechartline{
    font-size: 1.50rem;
    padding-right: 2rem;
}

body main div aside div.aside_deux{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main div aside div.aside_deux article.commun_deux{
    border: 0.19rem white solid;
    border-radius: 1.25rem;
    background-color: white;
    height: 8.75rem;
    width: 85%;
    margin-bottom: 4rem;
    box-shadow: 0 0 1rem #0000002E;  
}

body main div aside div.aside_deux figure.commun_deux img{
    height: 8.75rem;
    width: 10rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
}

article.commun_deux a h3.commun_deux{
    padding-left: 12rem;
    position: relative;
    bottom: 8.50rem;
}

article.commun_deux a p.commun_deux{
    padding-left: 12rem;
    position: relative;
    bottom: 8rem;
}

article.commun_deux a ul.commun_deux{
    padding-left: 12rem;
    position: relative;
    bottom: 4.75rem;
}

/*-------------------------------------------
FIN PARTIE MAIN : "BLOC LES PLUS POPULAIRES"
--------------------------------------------*/

/*-----------------------------------------------
DEBUT PARTIE MAIN : "BLOC ACTIVITES A MARSEILLE"
------------------------------------------------*/

.sec_activites{
    padding-top: 3rem;
}

.div_activites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;
}


div.section_gauche, div.section_droite{
    height: 32rem;
    width: 40.62rem;   
}

div.section_gaucheun,div.section_droiteun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
}
  
article.commun_trois{
    border-radius: 1.25rem;
    background-color: white;
    height: 32.25rem;
    width: 27.81rem;
    box-shadow: 0 0 1rem #0000002E; 
}

article.commun_trois a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

figure.commun_trois img{
    height: 29.37rem;
    width: 100%;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    object-fit: cover;
}

article.commun_trois a h3.commun_trois{
    padding-left: 1rem;
}

article.commun_quatre{
        border-radius: 1.25rem;
        background-color: white;
        height: 14rem;
        width: 20rem;
        box-shadow: 0 0 1rem #0000002E; 
    }
    
article.commun_quatre a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }
    
figure.commun_quatre img{
        height: 11.25rem;
        width: 100%;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        object-fit: cover;
    }
    
article.commun_quatre h3.commun_quatre{
        padding-left: 1rem;
    }

article.commun_cinq{
        border-radius: 1.25rem;
        background-color: white;
        height: 12rem;
        width: 20rem;
        box-shadow: 0 0 1rem #0000002E; 
    }
    
article.commun_cinq a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }
    
figure.commun_cinq img{
        height: 10rem;
        width: 100%;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        object-fit: cover;
    }
    
article.commun_cinq h3.commun_cinq{
        padding-left: 1rem;     
    }  

/*-----------------------------------------------
FIN PARTIE MAIN : "BLOC ACTIVITES A MARSEILLE"
------------------------------------------------*/

/*------------------
DEBUT PARTIE FOOTER
-------------------*/

footer{
    background-color:#F2F2F2;
    height: 20rem;
    width: 100%;
    margin-top: 5rem;
}

footer div.footer_un{
    height: 16rem;
    max-width: 84rem;
    margin: auto;
    padding-top: 3rem; 
    display: flex;
    flex-wrap: wrap;
}

.footer_deux, .footer_trois, .footer_quatre{
    flex-grow: 1;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
    display: flex;
}

.menu_apropos{
    margin-left: -1.80rem;
}

.menu_nos, .menu_assistance{
    margin-left: -1.75rem;
}

.divapropos_deux, .divapropos_trois, .divnos_deux, .divassistance_deux{
    margin-top: -2.50rem;
}
/*------------------
FIN PARTIE FOOTER
-------------------*/