<div class="search-field p-10">
  <button class="localization-btn">
    <span class="localization-span" *ngIf="media.isActive('gt-sm')"
      >Localization</span
    >
    <fa-icon
      [icon]="faLocationDot"
      *ngIf="media.isActive('lt-md')"
      class="localization-icon"
    ></fa-icon>
  </button>
  <input type="search" placeholder="Marseille, France" />
  <button class="research-btn">
    <span class="research-span" *ngIf="media.isActive('gt-xs')">Research</span>
    <fa-icon
      [icon]="faSearch"
      *ngIf="media.isActive('xs')"
      class="research-icon"
    ></fa-icon>
  </button>
</div>
