<header>
  <nav>
    <a class="logo m-10" routerLink="#"><h1>Reservia</h1></a>
    <ul>
      <li class="p-10">
        <a
          routerLink="#"
          routerLinkActive="active-link"
          *ngIf="media.isActive('gt-xs')"
          >Lodgements</a
        >
        <fa-icon
          [icon]="lodgementsIcon"
          *ngIf="media.isActive('xs')"
          class="lodgements-icon"
        ></fa-icon>
      </li>
      <li class="p-10">
        <a routerLink="" *ngIf="media.isActive('gt-xs')">My account</a>
        <fa-icon
          [icon]="userIcon"
          *ngIf="media.isActive('xs')"
          class="user-icon"
        ></fa-icon>
      </li>
    </ul>
  </nav>
</header>
