header {
  background-color: var(--secondary);
  border-bottom: 2px solid var(--primary);
}
nav {
  display: flex;
  justify-content: space-between;
  .logo {
    font-size: 20px;
    font-family: var(--font-family-rancho);
    color: var(--primary);
  }
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 3px;
    font-weight: bold;
    &:hover {
      background-color: var(--lightwhite);
      border: 2px solid var(--primary);
      border-radius: 5px;
      color: var(--primary);
      font-weight: bold;
      cursor: pointer;
    }
    transition: all 0.4s;
  }
  .header-icons {
    font-size: 25px;
  }
}
