<div class="filters-container">
  <h3 class="filters-title p-10">Filtres</h3>
  <div class="filters-icons">
    <fa-icon [icon]="economicIcon" class="fa-icons"></fa-icon>Economic
  </div>
  <div class="filters-icons">
    <fa-icon [icon]="familyIcon" class="fa-icons"></fa-icon>Family
  </div>
  <div class="filters-icons">
    <fa-icon [icon]="romanticIcon" class="fa-icons"></fa-icon>Romantic
  </div>
  <div class="filters-icons">
    <fa-icon [icon]="petsIcon" class="fa-icons"></fa-icon>Pets allowed
  </div>
</div>
